.player-info-container-parent {
    position: absolute;
    bottom: 150px;
    width: 100%;
    height: 150px;
    right: 0;
    pointer-events: none;
}

.player-info-container-child {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
}