.opponents-container {
   position: absolute;
    top: 0;
    right: 0%;
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
}

.opponent-container {
    position: relative;
    width: -webkit-fill-available;
    height: 100%;
}