.a {
    /* width: 100px; */
    /* flex-shrink: 1; */
    /* flex: 1 1 0; */
    /* flex-basis: 150px;
    max-width: 150px;
    display: inline-flex;
    box-sizing: border-box; */
    width: 100%;
    max-width: 100px;
    max-height: 100%;
    /* height: 100%; */
}

.card-modal {
    background: radial-gradient(ellipse at right top, #777777de 0%, #151419 47%, #151419 100%);
    /* opacity: 0.95; */
    transition: opacity 0.25s ease-in;
    box-shadow: 0.063em 0.75em 1.563em rgba(0, 0, 0, 0.78);
    border-radius: 1rem;
    outline: none;
    border: none;
}

.card-color-Heroism {
    background: radial-gradient(ellipse at right top, #f6f2dade 0%, #151419 47%, #151419 100%);
}

.card-color-Villainy {
    background: radial-gradient(ellipse at right top, #9174a8de 0%, #151419 47%, #151419 100%);
}

.card-color-Aggression {
    background: radial-gradient(ellipse at right top, #a3403ade 0%, #151419 47%, #151419 100%);
}

.card-color-Command {
    background: radial-gradient(ellipse at right top, #3b9557de 0%, #151419 47%, #151419 100%);
}


.card-color-Vigilance {
    background: radial-gradient(ellipse at right top, #1f7eafde 0%, #151419 47%, #151419 100%);
}

.card-color-Cunning {
    background: radial-gradient(ellipse at right top, #fdd867de 0%, #151419 47%, #151419 100%);
}

.preview-card {
    max-height: 70vh;
    width: auto;
}

.unready {
    opacity: 0.5;
}

.damage-text {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    background-color: #000000;
    height: 30px;
    font-family: monospace;
    font-size: 30px;
    line-height: 30px;
}

.b {
    position: relative;
}

.c {
    transition: transform 0.3s ease-in-out;
    position: relative;
    animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    
    transform: rotateY(-90deg);
    transform-origin: top center;
}

.costly {
    opacity: 0.4;
}

.unattackable {
    border: 4px dashed #af14ff;
}

.sentinal {
    box-sizing: border-box;
    outline: 3px solid red;
    border-radius: 4px;
}

@keyframes show {
  100% {
    /* opacity: 1; */
    transform: none;
  }
}