.arena-container {
    position: absolute;
    top: 0px;
    width: 100vw;
    /* max-height: 150px; */
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.flex-center {
    justify-content: space-evenly;
    display: flex;
}

.ground-arena {
    background-color: #3e663b;
    width: 50vw;
    left: 0;
    top: 20vh;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.space-arena {
    background-color: #291e47;
    width: 50vw;
    right: 0;
    top: 20vh;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.a {
    /* width: 100px; */
    /* flex-shrink: 1; */
    /* flex: 1 1 0; */
    /* flex-basis: 150px;
    max-width: 150px;
    display: inline-flex;
    box-sizing: border-box; */
    width: 100%;
    max-width: 100px;
    max-height: 100%;
    /* height: 100%; */
}

.selected {
    outline: 1px solid white;
}